/*Large devices (tablets, 1800px and down)*/
@media (max-width: 1800px) {

    /*footer logo*/
    .footer-top .footer-menu .footer-logo{
        margin-left: -5px;
        margin-top: 50px;
    }

    .registration-section{
        padding: 80px;
    }

    .reg-inner {
        width: 600px;
        margin-right: 80px;
    }

    .register-right {
        max-width: 480px;
    }

    .register-right .logo img,
    .OTP_Verification .logo img{
        width: 360px;
    }


    /*Verification Mail*/
    section.VerificationMail-inner{
    	padding: 80px;
    }


    /*OTP verification*/
    section.registration.OTP_Verification{
    	padding: 80px;
    }

    section.registration.OTP_Verification .otp-left{
	    max-width: 480px;
	    margin-right: 80px;
	}

	section.registration.OTP_Verification .otp-left .logo img{
		width: 400px;
	}

	section.registration.OTP_Verification .otp-left .regImg img {
	    margin-top: 50px;
	    width: auto;
	}

	section.registration.OTP_Verification .regField {
	    max-width: 600px;
	    margin-top: 0;
	}


	/*Login page*/
	.login-main-section {
	    padding: 80px;
	}

	.login-main-section .lExplore {
	    max-width: 480px;
	    margin-right: 80px;
	    margin-top: 80px;
	}

	.login-main-section .LoginFormBackground {
	    max-width: 600px;
	    margin-top: 0;
	}

    /*Nav*/
    .deshboard-head-section,
    .dash-content-section{
        padding-left: 30px;
        padding-right: 30px;
    }

    .deshboard-head .logo-team .logo {
        max-width: 260px;
        margin-right: 60px;
    }

    .deshboard-head .team .dropdown .btn,
    .deshboard-head .team .dropdown .dropdown-menu {
        min-width: 200px;
    }

    .footer-inner{
        padding-left: 30px;
        padding-right: 30px;
    }


    /*Main Profile*/
    .profile-content-section{
        padding-left: 30px;
        padding-right: 30px;
    }

    .profile-content-head .profile-photo {
        left: 15px;
    }

    .profile-content-head .profile-photo .photo {
        width: 200px;
        height: 200px;
    }

    .profile-content-head .info h5 {
        font-size: 28px;
    }

    .profile-content-head .range {
        bottom: 20px;
        right: 15px;
    }

    .profile-content-head .range .member h3 {
        font-size: 28px;
    }

    .profile-content-head .range .member h6 {
        font-size: 16px;
    }

    .btn-p-id-info {
        width: 90px;
        line-height: 23px;
        font-size: 17px;
    }

    .btn-teams-act,
    .btn-teams-act:hover{
        width: 100px;
    }

    .profile-content-head .info .ratting {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .profile-content-head .info {
        bottom: 20px;
        left: 235px;
    }

    .ditti-offer-main {
        padding: 5px 10px 30px;
    }

    .ditto-offer-inner ul li,
    .ditto-match-inner ul li{
        padding: 8px;
    }

    .ditti-offer-main .offer-head {
        /*height: 56px;*/
    }

    .ditti-offer-main .offer-head h5 {
        /*font-size: 20px;
        padding: 15px 10px;*/
    }

    .ditto-offer-inner ul li .image,
    .ditto-match-inner ul li .image{
        margin-right: 10px;
    }

    .ditto-offer-inner ul li .name{
        width: 55%;
        font-size: 16px;
    }

    .ditto-match-inner .name{
        width: 50%;
    }

    .ditto-match-inner .name h6{
        font-size: 16px;
    }

    .ditto-match-inner .name .like img {
        margin-right: 5px;
    }

    .ditto-match-inner .message {
        width: 40px;
    }

    .opens-content-section{
        padding-left: 30px;
        padding-right: 30px;
    }


    /*Change Password*/

    .change-password-section{
        padding-left: 30px;
        padding-right: 30px;
    }


    /*Chat old*/
    .view-chat-list .message-field .image {
        margin-right: 15px;
    }


}


@media (min-width: 992px){
    .deshboard-head .navbar-nav .nav-link {
        padding-right: 0; 
        padding-left: 0; 
    }
}


/*Medium devices (tablets, 992px and down)*/
@media (max-width: 992px) {

    /*footer logo*/
    .footer-top .footer-menu .footer-logo{
        /* margin-left: 100px; */
        margin-top: 50px;
    }

	/*Registration*/
    .registration-section{
        padding: 50px;
        min-height: 1100px;
    }

    .reg-inner {
        width: 614px;
        margin-right: 0;
        z-index: 1;
        position: absolute;
        top: 250px;
        left: 50%;
        transform: translateX(-50%);
    }

    .register-right {
        max-width: 859px;
        width: 100%;
        position: relative;
        min-height: 1100px;
        z-index: 0;
    }

    .register-right .logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .register-right .logo img {
        margin-top: 0px;
    }

    .register-right .button {
        position: absolute;
        top: 104px;
        left: 50%;
        transform: translateX(-50%);
    }

    .register-right .registration-img{
        position: absolute;
        bottom: -50px;
        right: -45px;
        width: 530px;
    }


    /*OTP verification*/
    section.registration.OTP_Verification{
    	padding: 50px;
    	min-height: 800px;
    }

    section.registration.OTP_Verification .otp-left{
	    max-width: 859px;
	    width: 100%;
	    position: relative;
	    min-height: 800px;
	    z-index: 0;
	}
	section.registration.OTP_Verification .otp-left .regImg {
	    position: absolute;
	    bottom: -50px;
	    left: -45px;
	    width: 530px;
	}

	section.registration.OTP_Verification .regField {
	    width: 614px;
	    margin-right: 0;
	    z-index: 1;
	    position: absolute;
	    top: 250px;
	    left: 50%;
	    transform: translateX(-50%);
	}


	/*Login page*/
	.login-main-section {
	    padding: 50px;
    	min-height: 870px;
	}

	.login-main-section .lExplore {
	    max-width: 859px;
	    width: 100%;
	    position: relative;
	    min-height: 870px;
	    z-index: 0;
	    margin-right: 0;
    	margin-top: 0;
	}

	.login-main-section .lExplore .loginImg {
	    position: absolute;
	    bottom: -50px;
	    left: -45px;
	    width: 530px;
	}

	.login-main-section .LoginFormBackground {
	    width: 614px;
	    margin-right: 0;
	    z-index: 1;
	    position: absolute;
	    top: 220px;
	    left: 50%;
	    transform: translateX(-50%);
	}

    /*Header nav*/

    .deshboard-head-section{
        background: transparent;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
    }

    .deshboard-head .team .dropdown .btn {
        min-width: 150px;
        height: 48px;
    }

    .deshboard-head .team .dropdown .dropdown-menu {
        min-width: 150px;
    }

    .deshboard-head .search-profile .top-search {
        margin-top: 7px;
    }

    .deshboard-head .navbar-toggler {
        color: #fff;
        border: 0;
        padding-right: 0;
    }

    .deshboard-head .collapse-mobile{
        width: 350px;
        position: absolute;
        right: 15px;
        top: 73px;
        z-index: 999;
    }

    .deshboard-head .search-profile .profile .dropdown-profile,
    .notification-dropdown {
        position: absolute !important;
        top: 53px;
    }

    .notification-dropdown {
        transform: translate3d(-56px, 6px, 0px) !important;
    }

    .deshboard-head .search-profile .profile .dropdown-profile a,
    .notification-dropdown ul li.drop-header,
    .notification-dropdown ul li a .text {
        font-size: 16px;
    }

    .notification-dropdown ul li.drop-time {
        font-size: 14px;
    }


    /*Profile*/
    .custom-form .custom-file .custom-file-label {
        height: 48px;
        padding: 9px;
        font-size: 14px;
        border-radius: 30px;
    }

    .custom-form .col-form-label {
        font-size: 14px;
    }

    .profile-file-upload{
        height: 48px;
    }

    .custom-form .col-form-label {
        line-height: 2.3;
    }

    
    /*Main profile*/

    .profile-content-head .mobile-d-none{
        display: none !important;
    }

    .profile-content-head .info {
        bottom: 5px;
        left: 235px;
    }

    .profile-content-head .info h5 {
        font-size: 28px;
    }

    .profile-content-head .info .location,
    .profile-content-head .info .ratting {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .profile-content-head .info .ratting img {
        height: 14px;
        width: 14px;
        margin-top: -4px;
    }

    .profile-content-head .info .type .class,
    .profile-content-head .info .type .p-info {
        width: 46px;
    }
    .profile-content-head .info .type .class,
    .profile-content-head .info .type .p-chat {
        width: 46px;
    }

    .profile-content-head .info .type .bet {
        width: 46px;
    }

    .profile-content-head .info .type .class img,
    .profile-content-head .info .type .p-chat i {
        margin-right: 0;
    }
    .profile-content-head .info .type .class img,
    .profile-content-head .info .type .p-info i {
        margin-right: 0;
    }

    .profile-content-head .range {
        bottom: 10px;
    }

    .profile-content-head .range .member h3 {
        font-size: 24px;
    }

    .profile-content-head .range .member h6 {
        font-size: 14px;
    }

    .profile-content-head .range .line {
        height: 62px;
        margin: 0 20px;
    }

    .profile-team-tab .profile-info{
        margin-bottom: 30px;
    }


    /*Change Password*/
    .change-pass-main .title {
        font-size: 28px;
        height: 65px;
        line-height: 65px;
    }


    /*About Us*/
    .about-us-inner .image{
        height: 180px;
        width: 180px;
    }

    .about-us-inner .content{
        height: 180px;
    }
    

    /*Chat*/
    .team-user-list .active-team-list .active-user {
        height: 70px;
        padding: 17px 10px;
    }

    .team-user-list .active-team-list .active-user .image,
    .view-chat-list .view-chat-head .user .image {
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }

    .team-user-list .active-team-list .active-user .name,
    .view-chat-list .view-chat-head .user .name {
        font-size: 15px;
        margin-top: 10px;
    }

    .team-user-list .active-team-list .active-user .dropdown button {
        color: #fff;
        padding: 5px 0;
    }

    .view-chat-list .view-chat-head {
        min-height: 54px;
    }

    .view-chat-list .view-chat-head .type {
        margin-right: 20px;
    }

    .view-chat-list .view-chat-head .type h5 {
        font-size: 22px;
        padding: 5px 0 0 10px;
    }

    .view-chat-list .view-chat-head .type img {
        margin-right: 2px;
    }

    .view-chat-head .chat-call-icon img {
        margin: 3px 8px 3px 0;
        width: 30px;
        height: 30px;
    }

    .view-chat-list .chart-right .image {
        max-width: 40px;
        margin-left: 13px;
    }

    .view-chat-list .chart-left .image {
        max-width: 40px;
        margin-right: 13px;
    }

    .view-chat-list .chart-left .message,
    .view-chat-list .chart-right .message {
        min-height: 43px;
        font-size: 16px;
        max-width: 280px;
    }

    .view-chat-list .chart-right .message:after {
        border-top: 10px solid transparent;
        border-left: 20px solid #fff;
        border-bottom: 10px solid transparent;
        right: -11px;
        top: 3px;
    }

    .view-chat-list .chart-left .message:before {
        border-top: 10px solid transparent;
        border-left: 20px solid #fff;
        border-bottom: 10px solid transparent;
        top: 3px;
        left: -10px;
        transform: rotate(-138deg);
    }


    /*chat old message option start*/

    .view-chat-list .message-field .image {
        margin-right: 8px;
        max-width: 80px;
    }

    .view-chat-list .message-field .field .file {
        max-width: 50px;
    }

    .view-chat-list .message-field .field .file .custom-file .custom-file-label {
        padding-top: 7px; 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .view-chat-list .message-field .field .text textarea{
        font-size: 14px;
        margin: 0;
        padding: 9px;
    }

    .view-chat-list .message-field .field .send {
        max-width: 70px;
        font-size: 16px;
    }

    /*chat old message option end*/


    /*chat new message option start*/
    /*.view-chat-list .message-field .text textarea{
        font-size: 14px;
    }

    .view-chat-list .message-field .send {
        max-width: 80px;
        font-size: 16px;
    }

    .view-chat-list .message-field .send .file{
        max-width: 30px;
    }

    .view-chat-list .message-field .send .logo{
        max-width: 30px;
        padding: 5px 0;
    }*/
    /*chat new message option end*/



    /*How it work*/

    .ask-question .card-header h4{
        font-size: 18px;
    }

    .ask-question .card-header h4 a{
        padding: 17px 35px 17px 17px;
    }

    .ask-question .card-header h4 a i {
        font-size: 16px;
    }
    
}


/*Small devices (tablets, 768px and down)*/
@media (max-width: 768px) {

    /*footer logo*/
    .footer-top .footer-menu .footer-logo{
        margin-left: 0;
        margin-top: 0;
    }

    /*table right arrow*/
    .table-scroll-left{
        display: block;
    }

    /*common*/
    .custom-form .form-control {
        border: 1px solid #00DB51;
        background-color: rgba(0, 0, 0, 0.2);
        color: #DEDEDE;
        font-size: 14px;
        height: 40px;
    }

    select {
        background: rgba(0,0,0,0) url(../icons/png/DropdownChevronGreebIcon.png) no-repeat scroll calc(100% + -12px) center/10px auto;
    }

    .custom-form .form-group .icon {
        right: 15px;
        top: 10px;
    }

    .custom-form .form-group .icon img{
        width: 17px;
        height: 17px;
    }

    .custom-form .input-group-text {
        font-size: 16px;
        width: 69px;
        height: 36px;
        color: #00DB51;
        padding: 0px 20px;
    }

    
    /*Nav*/
    .deshboard-head .logo-team .logo {
        max-width: 120px;
        display: flex;
        align-items: center;
    }

    /*Login*/
    .loginHead h3 {
        padding: 16px;
    }

    .ditti-offer-main .offer-head,
    .right-sidebar-section-header {
        height: 57px;
    }

    .ditti-offer-main .offer-head h5,
    .right-sidebar-section-header h3{
        font-size: 26px;
    }

    /*Main profile*/
    .profile-content-head {
        margin-bottom: 160px;
    }

    .profile-content-head .mobile-d-none{
        display: none !important;
    }

    .profile-content-head .profile-photo {
        bottom: -35px;
        left: 20px;
    }

    .profile-content-head .profile-photo .photo {
        width: 200px;
        height: 200px;
    }

    .profile-content-head .info {
        bottom: 5px;
        left: 235px;
    }

    .profile-content-head .info h5 {
        font-size: 28px;
    }

    .profile-content-head .info .location,
    .profile-content-head .info .ratting {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .profile-content-head .info .ratting img {
        height: 14px;
        width: 14px;
        margin-top: -4px;
    }

    .profile-content-head .info .type .class,
    .profile-content-head .info .type .p-chat {
        width: 40px;
    }
    .profile-content-head .info .type .class,
    .profile-content-head .info .type .p-info {
        width: 40px;
    }

    .profile-content-head .info .type .bet {
        width: 64px;
    }

    .profile-content-head .info .type .class img,
    .profile-content-head .info .type .bet img,
    .profile-content-head .info .type .p-chat i {
        margin-right: 0;
    }
    .profile-content-head .info .type .p-info i {
        margin-right: 0;
    }

    .profile-content-head .range {
        position: static;
        overflow: hidden;
        display: flex;
        justify-content: center;
        margin-top: 60px;
        padding-top: 5px;
    }

    .profile-content-head .range .line {
        height: 54px;
        margin: 0 20px;
    }

    .opens-content-section{
        padding-left: 30px;
        padding-right: 30px;
    }


    /*Registration*/
    .registration-section{
        padding: 30px;
    }

    .reg-inner {
        width: 500px;
    }

    .reg-inner .reg-body .form-check-label,
    .reg-inner .reg-body .form-check-label a {
        color: #fff;
        font-size: 12px;
    }

    .reg-inner .reg-inner-head {
        height: 60px;
        font-size: 26px;
    }


    /*Verification Mail*/
    section.VerificationMail-inner{
    	padding: 50px;
    }

    .VerificationMail-body-inner h3 {
        font-size: 28px;
    }

    .VerificationMail-body-inner p {
        font-size: 18px;
        line-height: 1.4;
        font-weight: 400;
    }

    .VerificationMail-body .button-sec button {
        height: 50px;
        font-size: 20px;
    }


    /*OTP verification*/
    section.registration.OTP_Verification{
    	padding: 30px;
    }

	section.registration.OTP_Verification .regField {
	    width: 502px;
	}

	section.registration.OTP_Verification .regHeader h5 {
	    font-size: 16px !important;
	}

	section.registration.OTP_Verification .otp-ibput-sec label{
		font-size: 18px;
	}

	section.registration.OTP_Verification .otp-input-box input {
	    width: 74px;
	    height: 52px;
	    margin-right: 15px;
	}

    .regHeader h2 {
        height: 60px;
        font-size: 26px;
        padding: 10px;
    }


	/*Login page*/
	.login-main-section {
	    padding: 30px;
	}

	.login-main-section .LoginFormBackground {
	    width: 502px;
	    height: auto;
	    top: 182px;
        box-shadow: none;
	}

    .for-got-pass,
    .creat-acc{
        font-size: 12px;
    }


    /*profile, payment*/
    .dash-content-section .dash-content-inner h6{
        font-size: 18px;
    }

    .btn-cashout-acc,
    .btn-cashout-acc:hover{
        height: 48px;
        font-size: 18px;
    }

    .btn-add-pay-card,
    .btn-add-pay-card:hover {
        width: 240px;
        height: 40px;
        font-size: 18px;
    }

    .save-button,
    .save-button:hover {
        width: 120px;
        height: 40px;
        font-size: 16px;
    }

    .sent-m-button,
    .sent-m-button:hover {
        width: 240px;
        height: 40px;
        font-size: 18px;
    }

    .btn-cancel,
    .btn-cancel:hover {
        font-size: 18px;
        margin-right: 30px;
    }

    .ditti-offer-main.float-right {
        float: none !important;
        margin: 0 auto;
    }

    .ditti-offer-main {
        padding: 5px 10px 50px;
    }

    .space{
        height: 1.5rem;
        width: 100%;
    }


    /*Dashboard*/

    .deshboard-head .team .dropdown .btn {
        height: 40px;
        font-size: 16px;
    }

    .deshboard-head .team .dropdown .dropdown-menu a {
        font-size: 16px;
    }

    .dash-content-section .dash1-content-head,
    .dash-content-section .dash-content-head,
    .profile-team .profile-team-head {
        min-height: 57px;
    }

    .dash-content-section .dash-content-head h5, 
    .dash-content-section .dash1-content-head h5,
    .profile-team .profile-team-head h5{
        font-size: 26px;
    }

    .ditto-match-list table thead td,
    .payment-card-list table thead td {
        font-size: 16px;
    }

    .ditto-match-list table tbody td {
        height: 68px;
        font-size: 16px;
    }

    .profile-team .profile-team-head span,
    .profile-team .profile-team-head .head-right-link a{
        font-size: 16px;
        margin-top: 7px;
    }

    .btn-cashout-acc, .btn-cashout-acc:hover {
         margin-bottom: 0; 
    }



    /*Change Password*/

    .change-password-section .container{
        padding: 0;
    }

    .change-pass-main .title {
        font-size: 26px;
        height: 60px;
        line-height: 60px;
    }

    .change-pass-inner .tagline {
        font-size: 18px;
    }

    .btn-change-pass {
        font-size: 18px;
        height: 59px;
        margin-top: 59px;
    }


    /*About Us*/

    .about-us-inner {
        padding: 15px 30px;
    }

    .about-us-inner .image{
        height: 100px;
        width: 100px;
    }

    .about-us-inner .content{
        height: auto;
    }

    .about-us-inner .content p {
        font-size: 14px;
        line-height: 1.4;
        margin: 0px;
    }

    /*chat old*/
    .view-chat-list .message-field .field .file .custom-file .custom-file-label img {
        margin-bottom: 0; 
    }

    .view-chat-list .message-field .image {
        max-width: 50px;
    }


    /*How it work*/
    .ask-question .card-header h4{
        font-size: 16px;
    }

    .ask-question .card-header h4 a{
        padding: 15px 30px 15px 15px;
    }

    .ask-question .card-header h4 a i {
        font-size: 14px;
        right: 10px;
    }

    .ask-question .card-body{
        font-size: 14px;
    }

    .video-tab .col-md-3{
        padding-right: 0;
    }

    .video-titorial-nav {
        height: 420px;
    }

    .video-titorial-nav .nav a {
        padding: 15px 0;
    }

    .video-titorial-nav .nav a h6 {
        font-size: 12px;
        margin-bottom: 12px;
        font-weight: 300;
    }

    .video-field .video-js{
        min-height: 420px;
    }

    .vjs-poster {
        height: 420px;
    }

    .video-field .video-js .vjs-big-play-button {
        height: 90px;
        width: 90px;
    }

    .video-field .video-js .vjs-big-play-button .vjs-icon-placeholder:before {
        font-size: 50px;
    }


    /*Modal design*/
    .custom-modal .close{
        top: -15px;
        right: -15px;
        height: 35px;
        width: 35px;
        font-size: 16px;
    }

    .modal-complet-bet h4,
    .team-modal h4,
    .payment-modal h4{
        font-size: 20px;
    }

    .modal-complet-bet h6{
        font-size: 16px;6
    }

    .modal-complet-bet .redio label{
        font-size: 16px;
    }

    .modal-complet-bet .box .star img{
        width: 25px;
    }

    .btn-modal-bet{
        width: 130px;
        height: 40px;
        font-size: 18px;
    }

    .team-modal .form-control,
    .payment-modal .form-control{
        height: 40px;
        font-weight: 300;
    }

    .payment-modal .icon{
        top: 11px;
        right: 15px;
    }

    .payment-modal textarea.form-control{
        height: auto;
    }


}

@media (max-width: 767px) {
    /*Chat*/
    .team-user-list {
        margin: 0 auto;
        height: 300px;
        margin-top: 30px;
    }

    .view-chat-list .chart-left .message, .view-chat-list .chart-right .message {
        font-size: 14px;
    }
}


/*Extra Small devices (landscape phones, 576px and down)*/
@media (max-width: 576px) {

    .profile-file-upload{
        height: 83px;
    }

    .custom-form .cust-form-label{
        padding: 0;
    }

    .ditti-offer-main .offer-head,
    .right-sidebar-section-header {
        height: 54px;
    }

    .ditti-offer-main .offer-head h5,
    .right-sidebar-section-header h3{
        font-size: 22px;
        padding: 13px 0;
    }

    .deshboard-head-section{
        padding-left: 15px;
        padding-right: 15px;
    }

    .deshboard-head .logo-team .logo {
        max-width: 50px;
        height: 50px;
        margin-right: 15px;
    }

    .deshboard-head .search-profile .profile .dropdown-profile {
        min-width: 315px;
    }

    .deshboard-head .team .dropdown .btn {
        min-width: 105px;
    }

    .deshboard-head .team .dropdown .dropdown-menu {
        min-width: 105px;
    }

    .notification-dropdown {
        min-width: 340px;
        transform: translate3d(19px, 6px, 0px) !important;
    }

    .notification-dropdown ul li a .image {
        margin-right: 12px;
        width: 32px;
    }

    .notification-dropdown ul li.drop-header,
    .notification-dropdown ul li a .text {
        font-size: 14px;
    }

    .notification-dropdown ul li.drop-time {
        font-size: 12px;
    }

    /*Main content*/
    .profile-content-section{
        padding-left: 15px;
        padding-right: 15px;
    }

    .profile-content-head {
        margin-bottom: 160px;
        height: 320px;
    }

    .profile-content-head .profile-photo {
        left: 15px;
    }

    .profile-content-head .profile-photo .photo {
        width: 100px;
        height: 100px;
    }

    .profile-content-head .change-cover {
        left: 15px;
    }

    .profile-content-head .notification {
        right: 15px;
    }

    .profile-content-head .change-cover .custom-file-label {
        font-size: 16px;
    }

    .profile-content-head .info {
        left: 125px;
    }

    .profile-content-head .info h5 {
        font-size: 24px;
    }

    .profile-content-head .info .location,
    .profile-content-head .info .ratting {
        font-size: 13px;
        margin-bottom: 5px;
    }

    .profile-content-head .info .ratting img {
        height: 10px;
        width: 10px;
        margin-top: -4px;
    }

    .profile-content-head .info .ratting .rat {
        margin-right: 10px;
    }

    .profile-content-head .range .member h3 {
        font-size: 25px;
    }

    .profile-content-head .range .member h6 {
        font-size: 13px;
    }

    .profile-content-head .range .line {
        margin: 0 20px;
        height: 52px;
    }

    .profile-team .profile-team-head{
        min-height: 47px;
    }

    .profile-team .profile-team-head h5 {
        font-size: 22px;
        padding: 13px 10px;
    }

    .profile-team .profile-team-head h5 img {
        margin-right: 5px;
    }

    .profile-team .profile-team-head span,
    .profile-team .profile-team-head .head-right-link a{
        font-size: 14px;
        margin-top: 5px;
    }

    .profile-team .profile-team-head .head-right-link img{
        height: 17.7px;
        width: 17.7px;
    }

    .profile-team .profile-team-tab ul {
        border-bottom: none;
    }

    .profile-team .profile-team-tab ul li a {
        font-size: 16px;
        width: 155px;
        padding: 10px 0;
    }

    .profile-team-tab .profile-info .details h4 {
        font-size: 20px;
    }

    .profile-team-tab .profile-info .details .type h6 {
        font-size: 15px;
    }

    .profile-info .bot {
        font-size: 18px;
    }

    .btn-p-id-info {
        line-height: 22px;
        font-size: 16px;
    }

    .btn-p-a-info, .btn-p-a-info:hover,
    .btn-p-c-info, .btn-p-c-info:hover {
        height: 45px;
        font-size: 18px;
    }

    .btn-teams-act, .btn-teams-act:hover {
        height: 34px;
        width: 95px;
        line-height: 22px;
    }

    /*Footer Start*/
    .footer-inner {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .footer-inner .footer-top .col-sm-6{
        width: 50%;
    }

    .footer-top .title {
        margin-bottom: 23px;
        font-size: 23px;
    }

    .footer-top .footer-article p {
        font-size: 15px;
    }

    .footer-top .footer-menu ul li a {
        font-size: 16px;
    }

    .footer-logo{
        max-width: 200px !important;
    }

    .footer-top .footer-social a{
        margin-right: 25px !important;
    }

    .footer-top .footer-social svg{
        height: 25px !important;
        width: 25px !important;;
    }

    .footer-bottom {
        font-size: 10px !important;
    }

    .footer-bottom .higlight {
        font-size: 8px !important;
    }

    .footer-bottom .separator {
        margin: 0px 9px !important;
    }
    /*Footer End*/


    .opens-content-section{
        padding-left: 15px;
        padding-right: 15px;
    }



    /*Registration*/
    .registration-section{
        padding: 15px;
    }

    .reg-inner .reg-inner-head {
        height: 50px;
        font-size: 20px;
        font-weight: 300;
    }

    .reg-inner {
        width: 90%;
        padding: 5px;
        top: 160px;
        overflow: hidden;
    }

    .reg-inner .reg-body h6{
    	font-size: 14px;
    }

    .regi-float{
        float: inherit !important ;
        display: block;
        margin-top: 13px !important;
        margin-left: -20px;
    }

    .register-right .logo img {
        width: 250px;
    }

    .register-right .button {
        top: 68px;
    }

    .register-right .registration-img {
	    display: none;
	}

    .btn-reg-create {
        font-size: 16px;
        width: 245px;
        height: 50px;
    }

    .reg-button {
	    font-size: 16px;
	    height: 50px;
        padding: 13px 15px;
	    margin-top: 60px;
	}


	/*Verification Mail*/
    section.VerificationMail-inner{
    	padding: 15px;
    }

    .VerificationMail-header {
	    max-width: 200px;
	    width: 100%;
	}

	.VerificationMail-body {
	    padding: 10px;
	    margin-top: 22px;
	}

	.VerificationMail-body-inner {
	    padding: 40px 30px;
	}

	.VerificationMail-body .button-sec button {
	    width: 150px;
	    height: 50px;
	    font-size: 18px;
	}

	.VerificationMail-body-inner p {
	    font-size: 20px;
	}

    .VerificationMail-body-inner h3 {
        font-size: 22px;
    }

    .VerificationMail-body-inner p {
        font-size: 16px;
    }

    .VerificationMail-body .button-sec button {
        height: 40px;
        font-size: 16px;
    }



	/*OTP verification*/
    section.registration.OTP_Verification{
    	padding: 15px;
    	min-height: 700px;
    }

	section.registration.OTP_Verification .regField {
	    width: 90%;
	    padding: 5px;
	    top: 160px;
	    overflow: hidden;  
	}

	section.registration.OTP_Verification .regHeader h5 {
	    font-size: 14px !important;
	}

	section.registration.OTP_Verification .otp-ibput-sec label{
		font-size: 14px;
	}

	section.registration.OTP_Verification .otp-input-box {
	    display: flex;
	    width: 100%;
	    justify-content: center;
	}

	section.registration.OTP_Verification .otp-input-box input {
	    width: 48px;
	    height: 45px;
	    margin-right: 10px;
	}

	section.registration.OTP_Verification .otp-left .logo img {
	    width: 250px;
	}

	section.registration.OTP_Verification .otp-left .regImg{
		display: none;
	}

	section.registration.OTP_Verification .otp-left {
	    min-height: 700px;
	}

    section.registration.OTP_Verification .form-group.otp-form-footer{
        display: grid;
    }

    section.registration.OTP_Verification span.time-left {
        font-size: 12px;
        margin-bottom: 10px;
    }

    section.registration.OTP_Verification a.resend-otp-btn {
        font-size: 12px;
    }

	.regCreatBtn {
	    font-size: 16px;
	    width: 245px;
	    height: 50px;
	}

	.regHeader h2 {
	    height: 50px;
        font-size: 20px;
        font-weight: 300;
	}

	.regButton {
	    font-size: 16px;
        height: 50px;
        margin-top: 60px;
        padding: 13px;
	}


	/*Login page*/
	.login-main-section {
	   padding: 15px;
	   min-height: 700px;
	}

	.login-main-section .lExplore {
	    min-height: 700px;
	}

	.login-main-section .lExplore .logo{
	    width: 250px;
	}

	.login-main-section .lExplore .loginImg {
	    display: none;
	}

	.login-main-section .LoginFormBackground {
	    width: 90%;
	    padding: 5px;
	    top: 160px;
	    overflow: hidden;
	}

	.loginHead h3 {
	    height: 50px;
        font-size: 20px;
        padding: 13px;
        font-weight: 300;
	}

    .inputFieldBackground h6 {
        font-size: 14px;
        margin-left: 0;
        padding-top: 0;
    } 

	.loginButton {
	    font-size: 16px;
	    height: 50px;
	    margin-top: 60px;
	}


    /*Dashboard*/
    .dash-content-section {
        padding-left: 15px;
        padding-right: 15px;
    }

    .dash-content-section .dash-content-head{
        min-height: 47px;
    }

    .dash-content-section .dash1-content-head{
        min-height: 47px;
    }

    .dash-content-section .dash-content-head h5,
    .dash-content-section .dash1-content-head h5{
        font-size: 18px;
    }

    /*Profile*/
    .dash-content-section .dash-content-inner h6 {
        font-size: 16px;
    }

    .profile-file-upload .col-sm-6,
    .suggested-filter .col-sm-6{
        width: 50%;
    }

    .custom-form .col-form-label {
        font-size: 12px;
    }

    .custom-form .custom-file .custom-file-label {
        font-size: 10px;
    }

    .ditto-balance-tab ul .p-bet {
        top: -23px;
    }

    .btn-ditt-bal, .btn-ditt-bal:hover {
        height: 40px;
        padding: 5px 2px;
        font-size: 18px;
    }

    .ditto-offer-inner ul li .name {
        font-size: 15px;
        font-weight: 300;
    }

    .pro-more-button {
        font-weight: 300;
    }

    .ditto-match-inner .name h6 {
        font-size: 15px;
        font-weight: 300;
    }


    /*Change Password*/
    .change-password-section{
        padding-left: 15px;
        padding-right: 15px;
    }

    .change-pass-main .title {
        font-size: 20px;
        height: 50px;
        line-height: 50px;
        font-weight: 300;
    }

    .change-pass-inner .tagline {
        font-size: 16px;
        color: #fff;
        margin: 30px 0;
    }

    .btn-change-pass {
        font-size: 16px;
        height: 50px;
        margin-top: 60px;
    }

    .change-pass-main {
        padding: 8px;
    }

    .change-pass-inner {
        padding: 10px;
    }


    /*About Us*/
    .sent-m-button,
    .sent-m-button:hover {
        width: 165px;
        height: 40px;
        font-size: 16px;
    }

    .btn-cancel, .btn-cancel:hover{
        font-size: 16px;
    }


    /*About Us*/

    .about-us-inner {
        padding: 30px 15px;
        text-align: center;
    }

    .about-us-inner.left .image,
    .about-us-inner.right .image{
        float: inherit !important;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .about-us-inner.right .content {
        text-align: center;
    }


    /*Other user profile*/

    .profile-bet-info .bet-left {
        width: 110px;
        padding: 10px;
        font-size: 14px;
        line-height: 1.3;
        font-weight: 300;
    }

    .profile-bet-info .bet-right {
        padding: 8px;
        font-size: 14px;
        font-weight: 300;
    }

    .profile-bet-info .bet-right img {
        height: 15px;
        width: 15px;
        margin-right: 5px;
    }


    /*chat*/

    .view-chat-list .view-chat-head .type {
        display: none;
    }

    .view-chat-list .view-chat-head .user {
        margin-left: 10px;
    }

    .view-chat-list .chart-right .image,
    .view-chat-list .chart-left .image {
        max-width: 30px;
    }

    .view-chat-list .chart-left .message, .view-chat-list .chart-right .message {
        min-height: 45px;
        max-width: 235px;
    }

    .view-chat-list .chart-view {
        height: 350px;
        margin-bottom: 15px;
    }

    /*chat old message option start*/
    .view-chat-list .message-field .image {
        max-width: 40px;
    }

    .view-chat-list .message-field .field {
        height: 50px;
    }

    .view-chat-list .message-field .field .file{
        max-width: 32px;
    }

    .view-chat-list .message-field .field .file,
    .view-chat-list .message-field .field .file .custom-file .custom-file-input,
    .view-chat-list .message-field .field .file .custom-file .custom-file-label,
    .view-chat-list .message-field .field .text textarea,
    .view-chat-list .message-field .field .send {
        height: 35px;
    }

    .view-chat-list .message-field .field .file{
        margin-right: 5px;
    }

    .view-chat-list .message-field .field .text textarea{
        padding: 8px;
        font-weight: 300;
        font-size: 11px;
    }

    .view-chat-list .message-field .field .send{
        line-height: 38px;
        max-width: 50px;
        font-size: 13px;
    }
    /*chat old message option end*/

    /*chat new message option start*/
    /*.view-chat-list .message-field{
        height: 120px;
        padding: 5px;
    }

    .view-chat-list .message-field .text{
        width: 100%;
        height: 110px;
        margin-right: 8px;
    }

    .view-chat-list .message-field .text textarea{
        height: 110px;
    }

    .view-chat-list .message-field .send{
        max-width: 60px;
    }

    .view-chat-list .message-field .send .top{
        height: 55px;
    }

    .view-chat-list .message-field .send .file{
        max-width: 25px;
    }

    .view-chat-list .message-field .send .file .custom-file .custom-file-label{
        padding: 0;
    }

    .view-chat-list .message-field .send .file .custom-file .custom-file-label img{
        width: 23px;
    }

    .view-chat-list .message-field .send .logo{
        max-width: 25px;
        padding: 3px 2px;
    }

    .view-chat-list .message-field .send .bottom{
        height: 55px;
        line-height: 55px;
        font-size: 14px;
    }*/
    /*chat new message option end*/

    .active-user-img img{
        width: 32px;
        height: 32px;
        margin-right: 5px;
    }


    /*How it Work*/

    .video-tab .col-md-3{
        padding-right: 15px;
    }

    .video-titorial-nav {
        margin: 0 auto;
    }

    .video-titorial-nav .nav a {
        padding: 15px 0;
    }

    .video-titorial-nav .nav a h6 {
        font-size: 13px;
    }

    .video-field .video-js{
        min-height: 320px;
    }

    .vjs-poster {
        height: 320px;
    }

    .video-field .video-js .vjs-big-play-button {
        height: 80px;
        width: 80px;
    }

    .video-field .video-js .vjs-big-play-button .vjs-icon-placeholder:before {
        font-size: 40px;
    }

    /*.video-field .video-js .vjs-play-control,
    .vjs-icon-volume-high,
    .video-js .vjs-mute-control .vjs-icon-placeholder,
    .video-js .vjs-control {
        height: 25px;
        width: 25px;
        font-size: 17px;
    }

    .vjs-button > .vjs-icon-placeholder:before {
        font-size: 17px;
        line-height: 25px;
        left: 4px;
    }*/

    .vjs-button > .vjs-icon-placeholder:before{
        font-size: 17px;
        line-height: 29px;
    }

    .vjs-modal-dialog .vjs-modal-dialog-content,
    .video-js .vjs-modal-dialog, .vjs-button > .vjs-icon-placeholder:before,
    .video-js .vjs-big-play-button .vjs-icon-placeholder:before{
        top: 1px;
    }
    .vjs-fullscreen-control.vjs-control.vjs-button{
        width: 1em;
    }


    /*Modal design*/

    .custom-modal .close{
        top: -3px;
        right: -3px;
        height: 30px;
        width: 30px;
        font-size: 14px;
    }

    .btn-modal-bet{
        width: 110px;
        height: 36px;
        font-size: 16px;
    }

}