*{
    padding: 0;
    box-sizing: border-box;

  }

  html {
    font-size: 62.5%;
  }
  body{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0;
    background-color: #082a4e;
  }




  body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px
  }
  
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    margin-top: 0;
    padding-top: .5em;
    margin-bottom: .3em
  }
  
  .h1,
  h1 {
    font-size: 32px
  }
  
  .h2,
  h2 {
    font-size: 28px
  }
  
  .h3,
  h3 {
    font-size: 20px
  }
  
  .h4,
  h4 {
    font-size: 18px
  }
  
  .h5,
  h5 {
    font-size: 12px
  }
  
  p {
    line-height: 1.5
  }
  
  @media screen and (min-width:40em) {
    body {
      font-size: 18px
    }
    .h1,
    h1 {
      font-size: 3.25em
    }
    .h2,
    h2 {
      font-size: 2.1em
    }
    .h3,
    h3 {
      font-size: 1.75em
    }
    .h4,
    h4 {
      font-size: 1.25em
    }
    .h5,
    h5 {
      font-size: 1em
    }
    .h6,
    h6 {
      font-size: .75em
    }
    p {
      line-height: 1.5
    }
  }



  ::-webkit-scrollbar {
    width: 5px;
    height: 11px;
   margin-right: 20px;
}

::-webkit-scrollbar-button {
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to top right, #41b782, #86d169);
  border: 0px solid transparent;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #091221;
  border: 0px none #ffffff;
  border-radius: 53px;
}











  .announcement-bar[data-v-d022de1c] {
    /* position: -webkit-sticky; */
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    /* text-align: left; */
    font-size: 18px;
    color: #fff;
    min-height: 90px;
    background: #0a2b4e;
    text-align: center;
    z-index: 0;
    transition: background .25s ease-out;
}

a {
  text-decoration: none;
  /* color: #39b982; */
  /* -webkit-tap-highlight-color: transparent; */
  -webkit-tap-highlight-color: transparent;
}

/* this is comment */
.squares[data-v-d022de1c] {
  width: calc((100% - 1000px)/ 2);
  height: 100%;
  bottom: auto;
  top: 0;
  min-width: auto;
}
/* this is comment end */

.squares[data-v-d022de1c] {
  position: absolute;
  z-index: 0;
  left: 0;
  display: flex;
  /* width: calc((100% - 600px)/ 2); */
  /* min-width: 104px; */
  /* height: 100%; */
}


.square[data-v-d022de1c]:first-child {
  /* -webkit-animation-name: blinker2-data-v-d022de1c; */
  animation-name: blinker2-data-v-d022de1c;
  opacity: .5;
  width: 70%;
}

.square[data-v-d022de1c] {
  /* width: 40%; */
  height: 100%;
  background-color: #091221;
  position: absolute;
  left: 0;
  color: #091221;
  /* -webkit-animation-name: blinker-data-v-d022de1c; */
  /* animation-name: blinker-data-v-d022de1c; */
  /* -webkit-animation-iteration-count: infinite; */
  animation-iteration-count: infinite;
  /* -webkit-animation-duration: 10s; */
  animation-duration: 10s;
}

.square[data-v-d022de1c]:nth-child(2) {
  /* -webkit-animation-name: blinker3-data-v-d022de1c; */
  animation-name: blinker3-data-v-d022de1c;
  opacity: .25;
  width: 100%;
}

.square[data-v-d022de1c] {
  /* width: 40%; */
  height: 100%;
  background-color: #091221;
  position: absolute;
  left: 0;
  color: #091221;
  /* -webkit-animation-name: blinker-data-v-d022de1c; */
  /* animation-name: blinker-data-v-d022de1c; */
  /* -webkit-animation-iteration-count: infinite; */
  animation-iteration-count: infinite;
  /* -webkit-animation-duration: 10s; */
  animation-duration: 10s;
}


.square[data-v-d022de1c] {
  width: 40%;
  height: 100%;
  background-color: #091221;
  position: absolute;
  left: 0;
  color: #091221;
  /* -webkit-animation-name: blinker-data-v-d022de1c; */
  animation-name: blinker-data-v-d022de1c;
  /* -webkit-animation-iteration-count: infinite; */
  animation-iteration-count: infinite;
  /* -webkit-animation-duration: 10s; */
  animation-duration: 10s;
}




.right[data-v-d022de1c] {
  transform: scaleX(-1);
  left: auto;
  right: 0;
}

/* @media screen and (min-width: 82em)
.squares[data-v-d022de1c] {
  width: calc((100% - 1000px)/ 2);
  height: 100%;
  bottom: auto;
  top: 0;
  min-width: auto;
} */


.squares[data-v-d022de1c] {
  position: absolute;
  z-index: 0;
  /* left: 0; */
  display: flex;
  /* width: calc((100% - 600px)/ 2); */
  /* min-width: 104px; */
  /* height: 100%; */
}


.square[data-v-d022de1c]:first-child {
  /* -webkit-animation-name: blinker2-data-v-d022de1c; */
  animation-name: blinker2-data-v-d022de1c;
  opacity: .5;
  width: 70%;
}

.square[data-v-d022de1c] {
  /* width: 40%; */
  height: 100%;
  background-color: #091221;
  position: absolute;
  left: 0;
  color: #091221;
  /* -webkit-animation-name: blinker-data-v-d022de1c; */
  /* animation-name: blinker-data-v-d022de1c; */
  /* -webkit-animation-iteration-count: infinite; */
  animation-iteration-count: infinite;
  /* -webkit-animation-duration: 10s; */
  animation-duration: 10s;
}

.square[data-v-d022de1c]:nth-child(2) {
  /* -webkit-animation-name: blinker3-data-v-d022de1c; */
  animation-name: blinker3-data-v-d022de1c;
  opacity: .25;
  width: 100%;
}

.square[data-v-d022de1c] {
  /* width: 40%; */
  height: 100%;
  background-color: #091221;
  position: absolute;
  left: 0;
  color: #091221;
  /* -webkit-animation-name: blinker-data-v-d022de1c; */
  /* animation-name: blinker-data-v-d022de1c; */
  /* -webkit-animation-iteration-count: infinite; */
  animation-iteration-count: infinite;
  /* -webkit-animation-duration: 10s; */
  animation-duration: 10s;
}

.square[data-v-d022de1c] {
  width: 40%;
  height: 100%;
  background-color: #091221;
  position: absolute;
  left: 0;
  color: #091221;
  /* -webkit-animation-name: blinker-data-v-d022de1c; */
  animation-name: blinker-data-v-d022de1c;
  /* -webkit-animation-iteration-count: infinite; */
  animation-iteration-count: infinite;
  /* -webkit-animation-duration: 10s; */
  animation-duration: 10s;
}















.carousel-inner {
  z-index: 1;
  height: 342px;
  
}

.search-btn i{
  margin-left: -50px;
    font-size: 25px;
    color: #23c258;
}





  img{
    vertical-align: middle;
    border-style: none;
    width: 200px;
    height: 100px;
    background-size: cover;

  }
  .banner-area{
    position: relative;
    margin: 0;
    padding: 0;
  }


  .navbar-expand-lg .navbar-nav .nav-link{
    padding-right: .5rem;
    padding-left: .5rem;
    margin-top: 15px;
    color: #ffffff;
    font-size: 20px;
    margin-left: 10px;
  }


  .form-inline .form-control{
    display: inline-block;
    width: 200px;
    vertical-align: middle;
    border-radius: 35px;
    padding: 25px;
    font-size: 17px;
  }

  .back-image img {
    z-index: -2;
    height: 134vh;
    width: 100%;
    /* position: relative; */
    position: absolute;
    margin-top: -331px;
}


.btn:not(:disabled):not(.disabled){
  display: inline-block;
  width: 124px;
  vertical-align: middle;
  border-radius: 35px;
  padding: 10px;
  /* background: white; */
  margin: 5px;
  font-size: 17px;
}


.btn-green{
background: #23c258;
}

.btn-white{
  background: #ffffff;
  color: #000000;
}


.navbar{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  margin-left: 20px;
  font-size: 30px;
}


/* img .bg1{
  width: 200%;
} */



.heading-text h1{
  position: relative;
  z-index: 0;
  text-align: center;
  font-size: 70px;
  color: #ffffff;
  margin-top: 100px;
}

.heading-text p{
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: #ffffff;
}

.explore-btn button{
  position: relative;
  z-index: 1;
  display: inline-block;
    width: 300px;
    vertical-align: middle;
    border-radius: 35px;
    padding: 15px;
    margin-top: 80px;
  color: black;
  font-size: 17px;
  background-color: rgba(240, 227, 227, 0.3);
}



/* learning path */
.bg-img3{
  margin-top: -240px;
}
.bg-img3 img{
  position: absolute;
  margin-top: 190px;
  padding: 0;
z-index: 1;
  margin-left: -px;
  width: 89.5%;
  /* height: 259vh; */
  height: 600px;
 
}

.bg4{
  /* position: relative; */
  width: 153.5%;
  /* margin-left: -295px; */
  margin-left: -26.8%;
  margin-top: 48.5%;;
  height: 74vh;
  background: linear-gradient(
    0deg,#9fffc7 21.49%,#76e1bf 30.01%,#0d96aa 49.1%,#008ca7 51.48%,#02627b 63.63%,#052e45 80.31%,#070d24 92.81%,#060e25 99.6%);
        background-attachment: scroll;
}





.lp-text {
position: absolute;
margin-top: 149px;
    margin-left: 460px;
color: #ffffff;
text-align: center;
font-size: 16px;
/* z-index: 1; */
}

.start-learn-btn button{

  position: relative;
  z-index: 1;
  display: inline-block;
    width: 300px;
    vertical-align: middle;
    border-radius: 35px;
    padding: 15px;
    /* margin-top: 80px; */
  color: black;
  background-color: rgba(240, 227, 227, 0.3);
}


.bg5{
  /* position: relative; */
  background: linear-gradient(
0deg,#b5ffda 3.85%,#8ce5ce 13.14%,#23a4b1 33.95%,#008ea7 40.76%,#0087a0 43.73%,#00516a 69.85%,#003049 89.38%,#00233c);
  margin-left: -26.8%;
  margin-top: 3.5%;
  height: 76vh;
  width: 153.5%;
/*   
  z-index: 3;
    display: flex;
    justify-content: center; */
    
}




.bg-img{
  text-align: center;
  margin: 0;
  padding: 0;
}
.bg-img img{
  z-index: 1;
    margin-left: 0;
    width: 100%;
    height: 100vh;
}

.bg-img h1{
  color: #ffffff;
  margin-top: -850px;
    margin-left: 500px;
    font-size: 30px;
}
.bg-img p{
  color: #ffffff;
  margin-left: 500px;
  font-size: 15px;
}







.bg6{
  background: linear-gradient(
0deg,#b5ffda 3.85%,#8ce5ce 13.14%,#23a4b1 33.95%,#008ea7 40.76%,#0087a0 43.73%,#00516a 69.85%,#003049 89.38%,#00233c);
  margin-left: -26.8%;
    margin-top: 5.5%;
  height: 76vh;
  width: 153.4%;
}



.bg-img7{
text-align: center;
width: 100%;
height: 100vh;
margin-top: -116px;
}

.bg-img7 img{
  width: 100%;
  height: 100vh;
}

.bg-img7 h1{
color: #ffffff;
margin-top: -732px;
font-size: 30px;
}

.bg-img7 p{
color: #ffffff;
font-size: 16px;
}

.bg8{
  background: linear-gradient(
      0deg,#b5ffda 11.34%,#8ce5ce 20.89%,#23a4b1 42.29%,#008ea7 49.28%,#006c85 58.91%,#004c65 69.86%,#00354e 80.47%,#002841 90.49%,#00233c 99.31%);
    margin-left: -26.8%;
  margin-top: 0.5%;
  height: 76vh;
  width: 153.4%;
}

.bg8-img img{
  width: 100%;
  height: 100vh;
 
}

.bg8-fimg img{
  margin-top: -355px;
    height: 229px;
}




.cheat{
  z-index: 1;
  margin-top: -617px;
  text-align: center;
  color: #ffffff;
  font-size: 17px;

}

.cheat h1{
  font-size: 30px;
}

.cheat p{
  font-size: 17px;
}

.caro-btn{
  /* margin-top: -430px; */
  margin-left: 210px;
  width: 50%;

}



.carousel-inner{
  z-index: 1;
}





.bg9{
    height: 1200px;
    padding-top: 250px;
    background-size: auto 580px;
}

.bgimg9 img{
  width: 63%;
  height: 100%;
}

.bgimg9 h1{
  color: #fff;
  font-size:40px;
}

.bgimg9 p{
  color: #fff;
  font-size: 17px;
}



.teachers{
  margin-top: 100px;
  color: #fff;
}

.teachers h1{
  font-size: 40px;
  text-align: center;
}

.teachers{
  margin-top: 100px;
  color: #fff;
}

.teachers h1{
  font-size: 40px;
  text-align: center;
}

.teacher{
  margin-top: 50px;
}

.teacher img{
  margin: 0;
  padding: 0;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 3px solid #fff;
}

.teacher h4{
  color: #fff;
margin-top: 20px;
}

.teacher p{
  color: #fff;
  margin-top: 20px;
}

.light-left-bottom{
  margin-top: -650px;
  margin-left: -165px;
}

.light-right-bottom{
  margin-top: -650px;
  margin-left: 134px;
}

.light-up-bottom{
  margin-top: -887px;
    margin-left: 138px;
}



.contributors h1{
  color: #fff;
}


.con-info{
  margin-top: 50px;
}

.con-info img{
  margin: 0;
  padding: 0;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  border: 3px solid #fff;
}
.con-info1 img{
  margin: 0;
  padding: 0;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  border: 3px solid #fff;
}

.con-info h4{
  color: #fff;
margin-top: 20px;
}
.con-info1 h4{
  color: #fff;
margin-top: 20px;
}

.con-info p{
  color: #fff;
  margin-top: 20px;
}
.con-info1 p{
  color: #fff;
  margin-top: 20px;
}

.contributors-info1{
  margin-top: 50px;
}


.create-btn{
  background: #fff;
  width: 264px;
  height: 67px;
  border-radius: 70px;
}


.limg img{
  vertical-align: middle;
    border-style: none;
    width: 601px;
    height: 230px;
    background-size: cover;
    margin-top: 125px;
}

.bg10 h2{
color: #fff;
}

.bg10 p{
  color: #fff;
}

.create-fld{
  margin-top: 140px;
}

.footer-bg img{
  position: relative;
  width: 117%;
  height: auto;
  margin-left: -111px;
}
.f-logo {
 color: #fff; 
 position:absolute;
 margin-top: -470px;
 
}

.f-course{
color: #fff;
position:absolute;
margin-top: -470px;
margin-left: 20px;

}

.f-about{
  color: #fff;
  position:absolute;
  margin-top: -470px;
margin-left: 20px;
}

.footer-bg{
  float: left;
  display: flex;
}

.footer-logo p{
  color: #fff;
  margin-left: -112px;
}


.footer-bg{
  position: relative;
}

.footer-logo{
  position: absolute;
}

































/* button hover */




a,
a:hover {
  text-decoration: none;
  
}



.butn:link,
.butn:visited {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 6rem;
  width: 30rem;
    background: rgba(5,37,59,.21);
  margin-right: 13px;
  border-radius: 35px;
  border: 2px solid #003d56;  color: #fff;
  position: relative;
  overflow: hidden;
}



.butn::after {
  background: #fff;
  content: "";
  height: 20rem;
  opacity: 0;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 8rem;
}

.butn__new::after {
  left: -100%;
}



.butn__new:hover::after {
  left: 200%;
  opacity: 0.6;
}


/* 
button {
	outline: 0
}

button[disabled] {
	opacity: .7
}
 */


