*{
  margin: 0;
  padding: 0;
}

  body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    /* color: #212529; */
    background: #082a4e;
}


.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 85%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.bg1{
  position: relative;
}

.bg1 img {
  z-index: -2;
  position: absolute;
}

.menu{
  display: flex;
}

.menu img {
  width: 235px;
  margin-top: 20px;
  margin-left: -135px;
}

.menu ul{
  
}
.menu ul li{
  list-style: none;
}
.menu ul li a {
  padding: 10px;
  font-size: 20px;
  color: #fff;
}

.menuList{
  margin-top: 35px;
  margin-left: 30px;
}


/* .searchBox{
  margin-left: 90px;
  margin-top: 90px;
} */

.searchField{
  border-radius: 20px;
}


.search-btn i{
  margin-left: -35px;
    font-size: 22px;
    color: #23c258;
    cursor: pointer;
}

.btn-white{
  background: #ffffff;
  color: #000000;
  border-radius: 20px;
}

.btn-green {
  background: #23c258;
  border-radius: 20px;
}

.nav-item{
  margin-top: 20px;
  font-size: 20px;
}

.nav-item a{
  color: #fff;
}




.heading-text h1{
  /* position: relative; */
  /* z-index: 0; */
  text-align: center;
  font-size: 70px;
  color: #ffffff;
  margin-top: 100px;
}

.heading-text p{
  /* position: relative; */
  /* z-index: 1; */
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: #ffffff;
}


.butn:link,
.butn:visited {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  height: 4rem;
  width: 20rem;
    background: rgba(5,37,59,.21);
  margin-right: 13px;
  border-radius: 35px;
  border: 2px solid #003d56;  color: #fff;
  position: relative;
  overflow: hidden;
  margin-top: 90px;
}



.butn::after {
  background: #fff;
  content: "";
  height: 20rem;
  opacity: 0;
  position: absolute;
  /* top: -30px; */
  transform: rotate(35deg);
  transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 2rem;
}

.butn__new::after {
  left: -100%;
}



.butn__new:hover::after {
  left: 200%;
  opacity: 0.6;
}























::-webkit-scrollbar {
  width: 5px;
  height: 11px;
}


::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to top right, #41b782, #86d169);
  border: 0px solid transparent;
  border-radius: 50px;
  
}

::-webkit-scrollbar-track {
  background: #091221;
  border: 0px none #ffffff;
  border-radius: 53px;
}
































