*{
    padding: 0;
    box-sizing: border-box;

  }

  html {
    font-size: 62.5%;
  }
  body{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0;
    background-color: #082a4e;
  }









  .announcement-bar[data-v-d022de1c] {
    /* position: -webkit-sticky; */
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    /* text-align: left; */
    font-size: 18px;
    color: #fff;
    min-height: 90px;
    background: #0a2b4e;
    text-align: center;
    z-index: 0;
    transition: background .25s ease-out;
}

a {
  text-decoration: none;
  /* color: #39b982; */
  /* -webkit-tap-highlight-color: transparent; */
  -webkit-tap-highlight-color: transparent;
}





.right[data-v-d022de1c] {
  transform: scaleX(-1);
  left: auto;
  right: 0;
}















  /* .header-animation{
    background-color: #00233c;
    height: 100px;
  } */
  img{
    vertical-align: middle;
    border-style: none;
    width: 200px;
    height: 100px;
  }
  .banner-area{
    position: relative;
    margin: 0;
    padding: 0;
  }


  .navbar-expand-lg .navbar-nav .nav-link{
    padding-right: .5rem;
    padding-left: .5rem;
    margin-top: 15px;
    color: #ffffff;
    font-size: 20px;
    margin-left: 10px;
  }


  .form-inline .form-control{
    display: inline-block;
    width: 200px;
    vertical-align: middle;
    border-radius: 35px;
    padding: 25px;
    font-size: 17px;
  }

  .back-image img {
    z-index: -2;
    height: 134vh;
    width: 100%;
    /* position: relative; */
    position: absolute;
    margin-top: -331px;
}


.btn:not(:disabled):not(.disabled){
  display: inline-block;
  width: 124px;
  vertical-align: middle;
  border-radius: 35px;
  padding: 10px;
  /* background: white; */
  margin: 5px;
  font-size: 17px;
}


.btn-green{
background: #23c258;
}

.btn-white{
  background: #ffffff;
  color: #000000;
}


.navbar{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  margin-left: 20px;
  font-size: 30px;
}


/* img .bg1{
  width: 200%;
} */



.heading-text h1{
  position: relative;
  z-index: 0;
  text-align: center;
  font-size: 70px;
  color: #ffffff;
  margin-top: 100px;
}

.heading-text p{
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: #ffffff;
}

.explore-btn button{
  position: relative;
  z-index: 1;
  display: inline-block;
    width: 300px;
    vertical-align: middle;
    border-radius: 35px;
    padding: 15px;
    margin-top: 80px;
  color: black;
  font-size: 17px;
  background-color: rgba(240, 227, 227, 0.3);
}



/* learning path */
.bg-img3{
  margin-top: -240px;
}
.bg-img3 img{
  position: absolute;
  margin-top: 190px;
  padding: 0;
z-index: 1;
  margin-left: -px;
  width: 89.5%;
  /* height: 259vh; */
  height: 600px;
 
}

.bg4{
  /* position: relative; */
  width: 153.5%;
  /* margin-left: -295px; */
  margin-left: -26.8%;
  margin-top: 48.5%;;
  height: 74vh;
  background: linear-gradient(
    0deg,#9fffc7 21.49%,#76e1bf 30.01%,#0d96aa 49.1%,#008ca7 51.48%,#02627b 63.63%,#052e45 80.31%,#070d24 92.81%,#060e25 99.6%);
        background-attachment: scroll;
}





.lp-text {
position: absolute;
margin-top: 149px;
    margin-left: 460px;
color: #ffffff;
text-align: center;
font-size: 16px;
/* z-index: 1; */
}

.start-learn-btn button{

  position: relative;
  z-index: 1;
  display: inline-block;
    width: 300px;
    vertical-align: middle;
    border-radius: 35px;
    padding: 15px;
    /* margin-top: 80px; */
  color: black;
  background-color: rgba(240, 227, 227, 0.3);
}


.bg5{
  /* position: relative; */
  background: linear-gradient(
0deg,#b5ffda 3.85%,#8ce5ce 13.14%,#23a4b1 33.95%,#008ea7 40.76%,#0087a0 43.73%,#00516a 69.85%,#003049 89.38%,#00233c);
  margin-left: -26.8%;
  margin-top: 3.5%;
  height: 76vh;
  width: 153.5%;
/*   
  z-index: 3;
    display: flex;
    justify-content: center; */
    
}




.bg-img{
  text-align: center;
  margin: 0;
  padding: 0;
}
.bg-img img{
  z-index: 1;
    margin-left: 0;
    width: 100%;
    height: 100vh;
}

.bg-img h1{
  color: #ffffff;
  margin-top: -850px;
    margin-left: 500px;
    font-size: 30px;
}
.bg-img p{
  color: #ffffff;
  margin-left: 500px;
  font-size: 15px;
}

.courses-btn{
  position: relative;
  z-index: 1;
  display: inline-block;
    width: 300px;
    vertical-align: middle;
    border-radius: 35px;
    padding: 15px;
    /* margin-top: 80px; */
  color: black;
  background-color: rgba(240, 227, 227, 0.3);
  margin-left: 500px;
  font-size: 17px;
}





.bg6{
  background: linear-gradient(
0deg,#b5ffda 3.85%,#8ce5ce 13.14%,#23a4b1 33.95%,#008ea7 40.76%,#0087a0 43.73%,#00516a 69.85%,#003049 89.38%,#00233c);
  margin-left: -26.8%;
    margin-top: 5.5%;
  height: 76vh;
  width: 153.4%;
}



.bg-img7{
text-align: center;
width: 100%;
height: 100vh;
margin-top: -116px;
}

.bg-img7 img{
  width: 100%;
  height: 100vh;
}

.bg-img7 h1{
color: #ffffff;
margin-top: -732px;
font-size: 30px;
}

.bg-img7 p{
color: #ffffff;
font-size: 16px;
}

.bg8{
  background: linear-gradient(
      0deg,#b5ffda 11.34%,#8ce5ce 20.89%,#23a4b1 42.29%,#008ea7 49.28%,#006c85 58.91%,#004c65 69.86%,#00354e 80.47%,#002841 90.49%,#00233c 99.31%);
    margin-left: -26.8%;
  margin-top: 0.5%;
  height: 76vh;
  width: 153.4%;
}

.bg8-img img{
  width: 100%;
  height: 100vh;
 
}

.bg8-fimg img{
  margin-top: -355px;
    height: 229px;
}




.cheat{
  z-index: 1;
  margin-top: -617px;
  text-align: center;
  color: #ffffff;
  font-size: 17px;

}

.cheat h1{
  font-size: 30px;
}

.cheat p{
  font-size: 17px;
}

.caro-btn{
  /* margin-top: -430px; */
  margin-left: 210px;
  width: 50%;

}

.sheet-down{
  position: relative;
  z-index: 1;
  display: inline-block;
    width: 300px;
    vertical-align: middle;
    border-radius: 35px;
    padding: 15px;
    /* margin-top: 80px; */
  color: black;
  background-color: rgba(240, 227, 227, 0.3);
  
}

.carousel-inner{
  z-index: 1;
}


/* button hover */




a,
a:hover {
  text-decoration: none;
  
}



.butn:link,
.butn:visited {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  /* text-transform: uppercase; */
  /* text-decoration: none; */
  /* background-color: #5e16bd; */
  background-color: rgba(240, 227, 227, 0.3);
  /* background-image: linear-gradient(90deg, #501aa8, #870de8); */
  /* vertical-align: middle; */

  /* padding: 1rem 2.5rem; */
  height: 6rem;
  width: 40rem;

  margin-right: 13px;
  border-radius: 35px;
  /* border: #003d56; */
  color: #fff;
  position: relative;
  overflow: hidden;
  /* transition: all 0.3s ease-in-out; */
}



.butn::after {
  background: #fff;
  content: "";
  height: 20rem;
  opacity: 0;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 8rem;
}

.butn__new::after {
  left: -100%;
}



.butn__new:hover::after {
  left: 200%;
  opacity: 0.6;
}